.root {
  -fx-background-color: #FFF;
  -fx-padding: 10px;
}

.label {
  -fx-font-weight: bold;
}

.main-grid {
  -fx-alignment: center;
  -fx-hgap: 10px;
  -fx-vgap: 10px;
}

.title-box {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-background-color: #F8F8F8;
  -fx-border-color: #DDD;
  -fx-border-radius: 8px;
  -fx-padding: 10px;
}
